body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.logo {
    height: 40px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1100; /* Higher than sidebars */
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.sidebar-left, .sidebar-right {
    background-color: #fff;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar-left {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    z-index: 1000;
    padding-top: 66px; /* Adjust based on navbar height */
}

.sidebar-right {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 200px;
    z-index: 1000;
    border-left: 1px solid #ddd;
    padding-top: 66px; /* Adjust based on navbar height */
}

.content {
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
    margin-left: 0px; /* Adjust based on sidebar width */
    margin-right: 220px; /* Adjust based on sidebar width */
    padding-top: 66px;
}

.sidebar-left ul {
    list-style: none;
    padding: 0;
}

.sidebar-left li {
    margin-bottom: 2px;
}

.sidebar-left a {
    text-decoration: none;
    color: #170388;
    font-size: 0.9em;
}

.sidebar-left a:hover {
    text-decoration: underline;
}

.sidebar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-right li {
    margin-bottom: 5px;
}

.sidebar-right li.active {
    font-weight: bold;
    color: #042c57; 
}

/* Indentation for nested lists */
.sidebar-right ul ul {
    padding-left: 20px; 
}

/* Optional: Different bullet points for nested lists */
.sidebar-right ul ul {
    font-size: 0.9em;
}

.sidebar-right ul ul ul {
    font-size: 0.8em;
}

.sidebar-right ul ul ul ul {
    font-size: 0.7em;
}

/* Navbar icon styling */
.navbar-icon {
    font-size: 1.5em;
    cursor: pointer;
}

.no-left-margin {
    margin-left: 50 !important;
}

/* Responsive styles */
@media (max-width: 920px) {
    .sidebar-right {
        display: none;
    }

    .content {
        margin-right: 30px;
    }
}


@media (max-width: 768px) {
    .sidebar-left {
        display: none;
    }

    .navbar {
        flex-direction: row;
        align-items: center;
    }

    .content {
        margin-left: 20px; 
        margin-right: 20px;
        padding-top: 110px;
    }

    .dropdown {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        width: 50%;
    }
}